<main>
	<form class='form-container' action='/login' method='POST'>
		<div class='form-control'>
			<label for='email'>Email</label>
			<input 
				{{#isError validationErrors 'email'}}
					class="invalid"
				{{/isError}}
				type='text'
				name='email' 
				id='email' 
				value="{{this.userData.email}}"/>
		</div>
		<div class='form-control'>
			<label for='password'>Password:</label>
			<input 
				{{#isError validationErrors 'password'}}
					class="invalid"
				{{/isError}}
				type='password' 
				name='password'
				id='password' 
				value="{{this.userData.password}}"/>
		</div>
		<div class='btn-area'>
			<input type='hidden' name='csrfToken' value={{@root.csrf}} />
			<button type='submit'>Login</button>
		</div>
	</form>
	<div class='error__container'>
		{{#if errorMessage}}
			<h3>{{errorMessage}}</h3>
		{{/if}}
	</div>
	<div  class='link-area'>
		<a href='/reset'>
			<button type='submit'> Forget password? </button>
		</a>
	</div>
</main>