<main>
	<form class='form-container' action='/signup' method='POST'>
		<div class='form-control'>
			<label for='email'>Email</label>
			<input type='text' name='email' id='email'/>
		</div>
		<div class='form-control'>
			<label for='userName'>Name:</label>
			<input type='text' name='userName' id='userName'/>
		</div>
		<div class='form-control'>
			<label for='password'>Password:</label>
			<input type='password' name='password' id='password' />
		</div>
    <div class='form-control'>
			<label for='repeated_password'>Confirm password:</label>
			<input type='password' name='repeated_password' id='repeated_password' />
		</div>
    <div class="btn-area">
			<input type="hidden" name="csrfToken" value={{@root.csrf}}>
		  <button type='submit'>Sign up</button>
    </div>
	</form>
	<div class="error__container">
		{{#if errorPassword}}
			<h3>{{errorPassword}}</h3>
		{{/if}}
		{{#if errorUserExists}}
			<h3>{{errorUserExists}}</h3>
		{{/if}}
	</div>
</main>