@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
}

main {
  padding: 1rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #FAD02C;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #90ADC6;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #FAD02C;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid #90ADC6;
  color: #90ADC6;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #90ADC6;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__header,
.card__content {
  padding: 1rem;
  text-align: center;
  color: #333652;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
  color: #333652;
}

.card__header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image {
  max-width: 200px;
  max-height: 200px;
}

.card__image img {
  max-width: 200px;
  max-height: 200px;
}

.card__actions {
    padding: 1rem;
    text-align: center;
    display: flex;
    height: 35px;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
    text-decoration: none;
}

.btn {
  font: inherit;
  font-weight: 600;
  border: 1px solid #FAD02C;
  color: #fff;
  background: #FAD02C;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  height: 35px;
  padding: 5px;
}

.btn:hover,
.btn:active {
  background-color: #90ADC6;
  border: 1px solid #90ADC6;
  color: #333652;
}
